<%- include components/header %>

<header>
    <nav>
        <div class="row">
            <a href="/"><img src="resources/img/logo.png" class="logo"></a>
            <a href="/"><img src="resources/img/logo - white.png"  class="logo-black"></a>
            <ul class="main-nav js--main-nav">
                <li><a href="/">ACCEUIL</a></li>
                <li><a href="/">ACTUALITES</a></li>
                <li><a href="/">COURS/EXERCICES</a></li>
                <li><a href="/">COMPTE</a></li>
                <% if(locals.user) { %>
                    <li><a href="/logout"><%= user.username %></a></li>
                <% } %>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>    
    </nav>
            
    <div class="hero-text-box">
        <h1>BIENVENUE A L'ISTAG BAB TIZIMI.</h1>
        <% if(!locals.user) { %>
            <a class="btn btn-full js--scroll-to-plans" href="/login">CONNEXION</a>
            <a class="btn btn-ghost js--scroll-to-start" href="/register">INSCRIPTION</a>
        <% } %>
        
    </div>
</header>

<section class="section-intro">
    <div class="row">
        <h2>ISTAG BAB TIZIMI</h2>
        <img id="istag" src="resources/img/istag.jpg"/>
        <div id="brief-intro">
            <h3>Brief Introduction</h3>
            <p>Istag bab tizimi est une institue de Technologie Applique et de gestion basé sur meknes , suivie le grand réseau des institue au maroc connais par OFPPT</p>
        </div>
        
    </div>
</section>

<section class="section-actualites">
    <h2>ACTUALITES</h2> 
    <% posts.forEach(post => { %>
        <div class="row news">
            <img width="30px" height="30px" style="float:right" src="./resources/img/new.png">
            <a style="border-bottom: none;" href="#"><i class="fas fa-arrow-alt-circle-right icon-click"></i></a>
            <span style="display:inline-blo ;margin-bottom:10px"><%= post.title %></span>
            <P style="margin-bottom:10px"><%= post.content %></P>
        </div>
    <% }) %>
</section>

<section style="padding-bottom: 80px;" class="section-features js--section-features" id="features">
    <div class="row">
        <h2>Filieres</h2>
        <p class="long-copy">
            un enssemble des meilleur filieres specialisé.soiyez sur que vous trouvera la bonne filiére.
        </p>    
    </div>
    
    <div style="padding-bottom: 80px;" class="row js--wp-1">
        <div class="col span-1-of-3 box">
            <a><img class="img" src="resources/img/gallery/nos_produits/1.png"></a>
            <h3>TRI</h3>
            <p>
                Techniques des réseaux informatiques.
            </p>
            <a style="margin-top:15px;background-color: rgb(18, 18, 145)" class="btn btn-full js--scroll-to-plans" href="#">LIRE PLUS</a>
        </div>
        <div class="col span-1-of-3 box">
            <a><img class="img" src="resources/img/gallery/nos_produits/2.png"></a>
            <h3>TMSIR</h3>
            <p>
                Technique de maintenance informatique.
            </p>
            <a style="margin-top:15px;background-color: rgb(18, 18, 145)" class="btn btn-full js--scroll-to-plans" href="#">LIRE PLUS</a>
        </div>
        <div  class="col span-1-of-3 box">
            <a><img class="img" src="resources/img/gallery/nos_produits/9.png"></a>
            <h3>TDI</h3>
            <p>
                Technique de developpement informatique.
            </p>
            <a style="margin-top:15px;background-color: rgb(18, 18, 145)" class="btn btn-full js--scroll-to-plans" href="#">LIRE PLUS</a>
        </div>
    </div>  
    
    <div style="padding-bottom: 80px;" class="row js--wp-1">
        <div class="col span-1-of-3 box">
            <a><img class="img" src="resources/img/gallery/nos_produits/4.png"></a>
            <h3>THC</h3>
            <p>
                Technique d'habiellement communist.
            </p>
            <a style="margin-top:15px;background-color: rgb(18, 18, 145)" class="btn btn-full js--scroll-to-plans" href="#">LIRE PLUS</a>
        </div>
        <div class="col span-1-of-3 box">
            <a><img class="img" src="resources/img/gallery/nos_produits/5.png"></a>
            <h3>THQ</h3>
            <p>
                Techniques d'habillement Quotidient. .
            </p>
            <a style="margin-top:15px;background-color: rgb(18, 18, 145)" class="btn btn-full js--scroll-to-plans" href="#">LIRE PLUS</a>
        </div>
        <div class="col span-1-of-3 box">
            <a><img class="img" src="resources/img/gallery/nos_produits/6.png"></a>
            <h3>TMQ</h3>
            <p>
                Technique De motirization Quotidient.
            </p>
            <a style="margin-top:15px;background-color: rgb(18, 18, 145)" class="btn btn-full js--scroll-to-plans" href="#">LIRE PLUS</a>
        </div>
    </div>  

    <div style="padding-bottom: 80px;" class="row js--wp-1">
        <div class="col span-1-of-3 box">
            <a><img class="img" src="resources/img/gallery/nos_produits/7.png"></a>
            <h3>TMC</h3>
            <p>
                Techniques de maintenance comique.
            </p>
            <a style="margin-top:15px;background-color: rgb(18, 18, 145)" class="btn btn-full js--scroll-to-plans" href="#">LIRE PLUS</a>
        </div>
        <div class="col span-1-of-3 box">
            <a><img class="img" src="resources/img/gallery/nos_produits/8.png"></a>
            <h3>TMZ</h3>
            <p>
                Technique de monopolie zoolien .
            </p>
            <a style="margin-top:15px;background-color: rgb(18, 18, 145)" class="btn btn-full js--scroll-to-plans" href="#">LIRE PLUS</a>
        </div>
        <div class="col span-1-of-3 box">
            <a><img class="img" src="resources/img/gallery/nos_produits/3.png"></a>
            <h3>TBM</h3>
            <p>
                Technique de i run out of ideas.
            </p>
            <a style="margin-top:15px;background-color: rgb(18, 18, 145)" class="btn btn-full js--scroll-to-plans" href="#">LIRE PLUS</a>
        </div>
    </div>  
</section>

<section class="section-meals">
    <h2 id="exemplaire">La Bauté de notre Etablisement</h2>
    <ul class="meals-showcase clearfix">
        <li>
            <figure class="meal-photo">
                <img id="test" src="resources/img/1.jpg" alt="Korean bibimbap with egg and vegetables">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="resources/img/2.jpg" alt="Simple italian pizza with cherry tomatoes">
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="resources/img/3.jpg" alt="Chicken breast steak with vegetables">
            </figure>
        </li>    
    </ul>
</section>        

<section class="section-steps" id="works">
    <div class="row">
        <h2>LOCATION</h2>
    </div>
    <div class="row">
        <iframe id="frame" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d293.79105881426597!2d-7.620073631970384!3d33.5828179259378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7d2a2f2d445cd%3A0x955a303c249dd117!2s46+Boulevard+Mohamed+Zerktouni%2C+Casablanca+20250!5e0!3m2!1sen!2sma!4v1553455265266" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>

<section class="section-form">
    <div class="row">
        <h2>Nous Contacter</h2>
    </div>
    <div class="row">
        <form method="post" action="#" class="contact-form">
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="name">Nom</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="text" name="name" id="name" placeholder="Votre Nom" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="email">Email</label>
                </div>
                <div class="col span-2-of-3">
                    <input type="email" name="email" id="email" placeholder="Votre email" required>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label for="find-us">Filiere</label>
                </div>
                <div class="col span-2-of-3">
                    <select name="find-us" id="find-us">
                        <option value="friends" selected>TRI</option>
                        <option value="search">TDI</option>
                        <option value="ad">TMSIR</option>
                        <option value="other">THB</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>Objet</label>
                </div>
                <div class="col span-2-of-3">
                    <textarea id="message" name="message" placeholder="Votre message"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col span-1-of-3">
                    <label>&nbsp;</label>
                </div>
                <div class="col span-2-of-3">
                    <input id="envoyer" type="button" value="Envoyer!">
                </div>
            </div>
        </form>
    </div>
</section>

<%- include components/footer %>