    <%- include components/header %>
    <%- include components/navbar %>

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/gallery/11.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 class="ml-5" data-animation="fadeInUp" data-delay="100ms">  MEKNES</h4>
                                <h3 class="ml-5" style="color:aliceblue" data-animation="fadeInUp" data-delay="400ms">  BIENVENUE A ISTAG BAB TIZIMI</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url(img/gallery/3.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 class="ml-5" data-animation="fadeInUp" data-delay="100ms">  MEKNES</h4>
                                <h3 class="ml-5" style="color:aliceblue" data-animation="fadeInUp" data-delay="400ms">  BIENVENUE A ISTAG BAB TIZIMI</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="single-hero-slide bg-img" style="background-image: url(img/gallery/4.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 class="ml-5" data-animation="fadeInUp" data-delay="100ms">  MEKNES</h4>
                                <h3 class="ml-5" style="color:aliceblue" data-animation="fadeInUp" data-delay="400ms">  BIENVENUE A ISTAG BAB TIZIMI</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Top Feature Area Start ##### -->
    <div class="top-features-area wow fadeInUp" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="features-content">
                        <div class="row no-gutters">
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-agenda-1"></i>
                                    <h5>28 Filières</h5>
                                </div>
                            </div>
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-assistance"></i>
                                    <h5>42 Formateurs</h5>
                                </div>
                            </div>
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-telephone-3"></i>
                                    <h5>1700 Stagiaires</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Feature Area End ##### -->

    <!-- ##### Course Area Start ##### -->
    <div class="academy-courses-area section-padding-100-0">
        <div class="container">
            <div class="row">

                <% secteurs.forEach(secteur => { %>
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-course-area d-flex align-items-top mb-100 wow fadeInUp" data-wow-delay="700ms">
                            <div class="course-icon">
                                <i class="icon-worldwide"></i>
                            </div>
                            <div class="course-content">
                                <a href="/filieres?secteur=<%= secteur.code %>"><h4><%= secteur.name %></h4></a>
                                <p><%= secteur.description %></p>
                            </div>
                        </div>
                    </div>
                <% }) %>
               
            </div>
        </div>
    </div>

    <!-- ##### actualites##### -->
    <div class="testimonials-area section-padding-100" style="background-color:rgb(242, 243, 243);">
        <section class="section-actualites">
            <h2 style="color:black ; margin-top: 50px" class="h2-polish">ACTUALITES</h2> 

            <% posts.forEach(post => { %>
                <div class="container news">
                    <div>
                        <img class="new float-right" src="/img/gallery/new.png"/>
                        <P style="margin-bottom:10px"><%= post.created_at %></P>
                        <a href="/actualites/<%= post.id %>" style="display:inline-blo ;margin-bottom:10px"><%= post.title %></a>
                    </div>
                </div>
            <% }) %>
            
        </section>
    </div>
   
    <%- include components/flash %>
    <%- include components/footer %>

    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
</body>

</html>