    <%- include components/header %>
    <%- include components/navbar %>

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg-img/bg-1.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 data-animation="fadeInUp" data-delay="100ms">  MEKNES</h4>
                                <h2 data-animation="fadeInUp" data-delay="400ms">  BIENVENUE A ISTAG BAB TIZIMI</h2>
                                <a href="#" class="btn academy-btn" data-animation="fadeInUp" data-delay="700ms">PLUS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/bg-img/bg-2.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h4 data-animation="fadeInUp" data-delay="100ms">   MEKNES</h4>
                                <h2 data-animation="fadeInUp" data-delay="400ms">   BIENVENUE A ISTAG BAB TIZIMI</h2>
                                <a href="#" class="btn academy-btn" data-animation="fadeInUp" data-delay="700ms">PLUS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Top Feature Area Start ##### -->
    <div class="top-features-area wow fadeInUp" data-wow-delay="300ms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="features-content">
                        <div class="row no-gutters">
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-agenda-1"></i>
                                    <h5>20 Filières</h5>
                                </div>
                            </div>
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-assistance"></i>
                                    <h5>30 Formateurs</h5>
                                </div>
                            </div>
                            <!-- Single Top Features -->
                            <div class="col-12 col-md-4">
                                <div class="single-top-features d-flex align-items-center justify-content-center">
                                    <i class="icon-telephone-3"></i>
                                    <h5>14501 Stagiaires</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Top Feature Area End ##### -->

    <!-- ##### Course Area Start ##### -->
    <div class="academy-courses-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <!-- Single Course Area -->

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-top mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <div class="course-icon">
                            <i class="icon-laptop"></i>
                        </div>
                        <div class="course-content">
                            <h4>Technologies de l'information</h4>
                            <p>Le Maroc est conscient du fait que l’usage des technologies de l’information est un facteur essentiel pour l’émergence de la société du savoir et peut activement contribuer au développement humain, à l’amélioration de la cohésion sociale et à la croissance de l’économie nationale.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-top mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div class="course-icon">
                            <i class="icon-id-card"></i>
                        </div>
                        <div class="course-content">
                            <h4>Administration Gestion et Commerce</h4>
                            <p>Les nouvelles tendances de l’économie mondiale montrent que les métiers du Tertiaire prennent une place de plus en plus importante dans le système de production en général en vue d’une plus grande productivité.</p>
                        </div>
                    </div>
                </div>
                
                <!-- Single Course Area -->

                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-top mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <div class="course-icon">
                            <i class="icon-worldwide"></i>
                        </div>
                        <div class="course-content">
                            <h4>Textile et Habillement</h4>
                            <p>L’industrie du Textile et de l’Habillement occupe une place stratégique dans l’industrie nationale de transformation aussi bien sur le plan des emplois et des exportations que sur le plan de l’équilibre socio-économique du pays.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
            </div>
        </div>
    </div>

    <!-- ##### a propos ##### -->
    <div class="testimonials-area section-padding-100" style="background-color:rgb(220, 230, 231);">
        <div class="container">
            <h2 style="color:rgb(2, 2, 2)" class="h2-polish">A PROPOS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam laborum maxime cumque molestias asperiores impedit quidem soluta incidunt nisi, dicta blanditiis odit, nobis eius sapiente illo. Dolorem alias minima sequi consequuntur ullam voluptatibus excepturi quibusdam maxime unde nihil temporibus, distinctio accusantium sit odio accusamus, sunt officiis. Quia atque voluptates porro. Asperiores ab tempora alias maiores dicta adipisci magni similique nostrum!</p> 
        </div>
    </div>

    <!-- ##### actualites##### -->
    <div class="testimonials-area section-padding-100" style="background-color:rgb(242, 243, 243);">
        <section class="section-actualites">
            <h2 style="color:black ; margin-top: 50px" class="h2-polish">ACTUALITES</h2> 

            <% posts.forEach(post => { %>
                <div class="container news">
                    <div>
                        <img class="new float-right" src="/img/gallery/new.png"/>
                        <P style="margin-bottom:10px"><%= post.created_at %></P>
                        <a href="/actualite/<%= post.id %>" style="display:inline-blo ;margin-bottom:10px"><%= post.title %></a>
                    </div>
                </div>
            <% }) %>
            
        </section>
    </div>
    
    <!-- ##### localisation ##### -->
    <div class="testimonials-area section-padding-100 bg-img bg-overlay" style="background-color:rgb(185, 226, 231);">
        <div class="container">
            <h2 class="h2-polish">LOCALISATION</h2>
            <iframe width="100%" id="Localisation-gps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13246.239657274818!2d-5.564702815950974!3d33.90098629035586!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda05b2b7ca1f5a3%3A0x8ead1a31a5875504!2sOfppt+ISTA+bab+Tizimi!5e0!3m2!1sen!2sma!4v1554412140661!5m2!1sen!2sma" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="testimonials-area section-padding-100" style="background-color:rgb(197, 211, 212);">
        <div class="container">
            <h2 style="color:black ; margin-top: 50px" class="h2-polish">LA BEAUTE DE NOTRE ETABLISSMENT</h2>
            <ul class="etablismenet-pictures clearfix">
                <li>
                    <figure class="istag-photo">
                        <img src="/img/gallery/1.jpg">
                    </figure>
                </li>
                <li>
                    <figure class="istag-photo">
                            <img src="/img/gallery/2.jpg">
                    </figure>
                </li>
                <li>
                    <figure class="istag-photo">
                            <img src="/img/gallery/3.jpg">
                    </figure>
                </li>
            </ul>
        </div>
    </div>

    <!-- ##### Testimonials Area End ##### -->
    <div class="testimonials-area section-padding-100" style="  background-color:rgb(178, 178, 180)">
            <div class="container">
                <h2 style="color:black" class="h2-polish">CONTACT FORM</h2>
                <form>      
                    <input name="name" type="text" class="feedback-input" placeholder="Name" />   
                    <input name="email" type="text" class="feedback-input" placeholder="Email" />
                    <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
                    <input type="submit" value="SUBMIT"/>
                </form>
            </div>
        </div>
   
    <%- include components/footer %>

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
</body>

</html>